/* work sans fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Roboto:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    width: 180px;
    height: 64px;
    border-style: none;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


/* header */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: underline;
    color: #424242;
}


/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    color: #727272;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}



/* responsive style */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

}

/* tablet display */
@media screen and (min-width: 576px) and (max-width:960px) {
    nav {

        flex-direction: column;
    }

}


/* main style */
main {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 85px;
    padding-bottom: 85px;
}

/* teams style */
.teams-container {
    display: flex;
    align-items: center;
    
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content{
padding-left: 70px;
padding-right: 70px;
}

.teams-title{
    font-size: 2.8rem;
}

.teams-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-title .teams-features{
    color:#FF900E;
}